module.exports={
port:5555,
site:{
    url: "https://status.nekoneko.cloud",
    name: "Neko Neko Status",
},
noCache:false,
admin:{
    password:"nekonekocloud"
},
neko_status_url:"https://github.com/nkeonkeo/nekonekostatus/releases/download/v0.1/neko-status"
}
