module.exports={
port:5555, //监听端口
site:{
    url: "https://status.nekoneko.cloud", // 站点地址
    name: "Neko Neko Status", // 站点名称
},
noCache:false, //html模板缓存
admin:{
    password:"nekonekocloud" //面板管理密码
},
neko_status_url:"https://github.com/nkeonkeo/nekonekostatus/releases/download/v0.1/neko-status" //neko-status后端下载地址
}
