{%set Title=setting.site.name%}
<!DOCTYPE html>
<html lang="zh">
<head>
    <title>{{Title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="https://cdn.staticfile.org/mdui/1.0.2/css/mdui.min.css" as="style">
    <link rel="stylesheet" href="https://cdn.staticfile.org/mdui/1.0.2/css/mdui.min.css" media="all">
    <link rel="shortcut icon" href="/img/logo.svg">
    <link rel="stylesheet" href="/css/style.min.css">
</head>
<body class="mdui-appbar-with-toolbar mdui-theme-accent-blue">
    <div id='loading' class="mdui-spinner" hidden style="z-index:10000000;position:fixed;top:0;bottom:0;left:0;right:0;margin: auto;height: 50px;width: 50px;"></div>
    {%include 'appbar.html'%}

    <div id='container' class="mdui-container{%if fluid%}-fluid{%endif%}" style="margin-top: 8px;">{%block content%}{%endblock%}</div>
</body>
{%include "./footer.html"%}

<script src="https://cdn.staticfile.org/mdui/1.0.2/js/mdui.min.js"></script>
<!-- <script src="/mdui/js/mdui.min.js"></script> -->
<script src="/js/core.js"></script>
<script>
    var container=document.querySelector("#container");
    container.style.minHeight=window.innerHeight-document.body.clientHeight+container.clientHeight+'px';
    mdui.mutation();
</script>
{%block js%}
{%endblock%}
</html>