{%set title = "节点状态"%}
{%extends "../base.html"%}

{%block content%}
<div class="mdui-fab-wrapper" mdui-tooltip="{content:'切换卡片主题'}">
    <a href="?theme=card" class="mdui-fab mdui-color-blue-600">
        <i class="mdui-icon material-icons">view_module</i>
    </a>
</div>
<style>
.mdui-table td, .mdui-table th{padding: 6px;}

.progress{width: 10%;min-width: 75px;}
.progress-text{font-size: 16px;font-weight: 800;position: relative;top: 4px;left: 6px;}
.offline st,.offline at,.offline gt,.offline .progress-text{color: grey;}
</style>
<table class="mdui-table">
    <thead>
        <tr>
            <th>名称</th><th>上行</th><th>下行</th><th>总上行</th><th>总下行</th><th>CPU</th><th>内存</th><th>more</th>
        </tr>
    </thead>
    <tbody>
    {%for sid,node in stats%}
    {%if node.stat!=-1%}
    <tr class="{%if node.stat==0%}offline{%endif%}">
        <td class="{%if node.stat==0%}mdui-text-color-grey{%endif%} poh" href="/stats/{{sid}}/">{{node.name}}</td>
        <td><st><span id="{{sid}}_NET_IN" style="max-width: fit-content;">NaN</span>/s</st></td>
        <td><at><span id="{{sid}}_NET_OUT" style="max-width: fit-content;">NaN</span>/s</at></td>
        <td><st><span id="{{sid}}_NET_IN_TOTAL" style="max-width: fit-content;">NaN</span></st></td>
        <td><at><span id="{{sid}}_NET_OUT_TOTAL" style="max-width: fit-content;">NaN</span></at></td>
        <td class="progress">
            <div class="mdui-progress" style="height: 30px;">
                <div id="{{sid}}_CPU_progress" class="mdui-progress-determinate mdui-color-indigo-400" style="width: 0%">
                    <span id="{{sid}}_CPU" class="mdui-text-truncate progress-text">NaN</span>
                </div>
            </div>
        </td>
        <td class="progress">
            <div class="mdui-progress" id="{{sid}}_MEM_item" style="height: 30px;background-color: #c0929d3f;">
                <div id="{{sid}}_MEM_progress" class="mdui-progress-determinate mdui-color-pink-400" style="width: 0%">
                    <span id="{{sid}}_MEM" class="mdui-text-truncate progress-text">NaN</span>
                </div>
            </div>
        </td>
        <td>
            <i class="mdui-icon material-icons" id="{{sid}}_host">info_outline</i>
            {%if admin%}
            <a class="mdui-btn mdui-btn-icon" href="/admin/servers/{{sid}}/">
                <i class="mdui-icon material-icons">edit</i>
            </a>
            {%endif%}
        </td>
    </tr>
    {%endif%}
    {%endfor%}
    </tbody>
</table>
{%endblock%}

{%block js%}
<script src="/js/stats.js"></script>
{%endblock%}